// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

//body
body {
    font-family: Helvetica, 'Microsoft YaHei', Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 60px;
}


/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

/* captcha */
.captcha_code {
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    padding: 3px;
}

/* for iconfont symbol */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
